.classpath
.project
/mix/
/_sElectConfigFiles_/
/lib/
/VotingBooth/ElectionManifest.json
bin/
tmp/
# all 'node_modules' directories except for that in the root dir
**/*/node_modules/
*.swp
config.json
.pydevproject
_data_*
_configFiles_/
