.classpath
.project
.settings/
/mix/
/_sElectConfigFiles_/
/lib/
bin/
# all 'node_modules' directories except for that in the root dir
**/*/node_modules/
config.json
.pydevproject
_data_*
_configFiles_/
*jquery-2.1.1.min.js
# all logs
*.log
LOG/
#copied downloads
Authenticator/webapp/roboto
Authenticator/webapp/pure
*jquery-2.1.1.min.js
#ignore favicon
*/webapp/favicon*
*/webapp/android-icon*
*/webapp/apple-icon*
*/src/views/favicon*
*/src/views/android-icon*
*/src/views/apple-icon*
\#*
*~
*.swp
