body {
  padding: 50px;
  padding-top: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: #e60;
}

h2 {
  font-weight: normal;
  color: #245;
}

div.logo {
    text-align: right;
    padding-top: 2ex;
    border-top: solid 1px #bbb;
}
div.logo img {
    vertical-align: middle;
    margin-left: 2ex;
}

a {
  color: #00B7FF;
}

