@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic);

body {
    background: #eee;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    font-weight: 300;
}

h1, h2 {
    font-size:36pt;
    font-weight: 100;
    color: #666;
}
h2 {
    font-size:24pt;
    font-weight: 100;
    color: #444;
}
h3 {
    font-size:14pt;
    font-weight: 300;
    color: #444;
    text-shadow: 0px 0px 1px #bbb;
}

h1 {
    margin-top: .2ex;
    text-shadow: 0px 0px 3px #bbb;
}

h1.error {
    color: #a00;
    text-shadow: 0px 0px 2px #f66;
}

p.error {
    color: #a00;
    font-weight: bold;
}


.pure-skin-mine .pure-form label {
    font-weight: bold;
}


h3.lead {
    color: #888;
}

h1 .electionid {
    margin-top: .5ex;
    font-weight: normal;
    font-size: 11pt;
    text-shadow: none;
    color: #999;
}


div.extra-info {
    margin: 2ex 0px;
    font-size:11pt;
    color: #888;
}

.pure-skin-mine .pure-form legend, h3.legend, div.error {
    color: #08e;
    font-weight: 300;
    font-size: 18pt;
    margin: 1ex 0;
    text-shadow: 0px 0px 1px #ccf;
}

div.error {
    color: #a00;
    text-shadow: 0px 0px 1px #f66;
    margin-bottom: 2ex;
}

div.header {
    margin: 8px auto;
    margin-top: 40px;
    max-width: 800px;
    padding: 0px;
    text-align: right;

    font-size: small;
    color:#999;
}

div.header em {
    font-weight: 500;
}

div.container {
    margin: 0 auto;
    padding: 0ex 8px;
    max-width: 808px;
}

div.body {
    background: white;
    margin: 0 auto;
    margin-bottom:2ex;
    -max-width: 800px;
    padding: 25px;
    -border: solid 0px #ccc;
    border-radius: 6px;
    box-shadow: 0px 1px 12px 3px #ddd;
}

div.info {
    font-weight: 300;
}

.toright {
    text-align: right;
}


.pure-skin-mine .pure-form label {
    font-size: 13pt;
    font-weight: bold;
    color: #666;
}

.pure-skin-mine .pure-form label.checked {
    color: black;
}

.pure-skin-mine .pure-form label.notchecked {
    color: #bbb;
}

#welcome,
#otp, 
#choice, 
#result, 
#error {
    display:none;
}

#processing {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 200px;
    left: 0px;
    display:none;
}

