<% include header -%>

<h2 class="instruction"> Thank you for voting in: </h2>
<h1> <%= manifest.title %> </h1>

<p> Your ballot has been accepted by the collecting server.</p>

<h2 class="instruction">When the election is over, you can check
that your ballot is in the final tally. If you want
to do this, you need to copy the following receipt ID and look it
up in the result of the election.</h2>

<p> <%= receipt_id %> </p>

<% include footer -%>
