<% include header -%>

<h1> <%= manifest.title %> 
    <div class="subtitle"><%= manifest.description %></div>
</h1>

<form action="select" method="post">
    <h2 class="instruction"> Please enter your one time password </h2>
    <p>
        Your one time password has been sent to you e-mail account
        <em><%= email %></em> (if you cannot find it, please
        check your spam folder).
    </p>
    <p>
      <input type="hidden" name="email" value="<%= email %>">
      <input type="text" name="otp">
      <input type="submit" value="Continue"> 
    </p>
 </form>

<% include footer -%>

