<% include header -%>

<h3> Welcome to the election </h3>
<h1> <%= manifest.title %> 
    <div class="subtitle"><%= manifest.description %></div>
</h1>

<form action="welcome" method="post">
    <h2 class="instruction"> Provide your voter identifier (e-mail) to continue</h2>
    <p>
      <input type="text" name="email">
      <input type="submit" value="Continue"> 
    </p>
 </form>

<% include footer -%>
