<% include header %>

<h2> Election Title: <%= manifest.title %> </h2>
<h1> No Result Yet! </h1>


<p> The result of the election has not been
published yet. Please try again later. </p>

<% include footer %>
