<% include header -%>

<h2> Election: <%= electionName %> </h2>
<h1> Result of the Election </h1>

<p> The entries listed below are sorted according to the receipt
identifiers.</p>

<p> Each entry contains a receipt ID and a candidate number. </p>

<p> At the end of this page you can find the official result of
the election in binary, digitally signed by the voting authority. 
</p>

<hr>

<ul>
<% for(var i=0; i<result.length; i++) { %>
   <li> Receipt-ID: <%= result[i].nonce %> &mdash; Candidate: <%= result[i].vote %> </li>
<% } %>
</ul>

<hr>

<a href="SignedPartialResult.msg">Digitaly signed partial result</a> |
<a href="SignedFinalResult.msg">Digitaly signed final result</a>

<% include footer -%>
