    </div>
    </body>
    <script>
    	//closing time
	    var closingTime = $("#closingTime").html().trim().split(" ");
    	var clientDate = new Date(closingTime[0]+"T"+closingTime[1]+"Z");
    	clientDate = clientDate.format("dddd, mmm dS yyyy, HH:MM");
    	$("#closingTime").html(clientDate);
    	$("#closingTime").html(clientDate);
    	
    	//opening time
    	if($("#openingTime").html()){
	    	var openingTime = $("#openingTime").html().trim().split(" ");
	     	var clientDate = new Date(openingTime[0]+"T"+openingTime[1]+"Z");
	     	clientDate = clientDate.format("dddd, mmm dS yyyy, HH:MM");
	     	$("#openingTime").html(clientDate);
    	}
    </script>
</html>

