<!DOCTYPE html>
<html lang="en">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	
    <link rel="stylesheet" href="pure/pure-min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/custom-pure.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="pure/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="pure/grids-responsive-min.css">
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="js/jquery-2.1.1.min.js"></script>

    <title>sElect Bulletin Board</title>
  </head>

<body class="pure-skin-mine">
    <div class="container header">
        Secure elections powered by <em>sElect</em>
    </div>
    <div class="banner">
        <div class="container">
            <h3> Public Bulletin Board for </h3>
            <h1> <%= manifest.title %> </h1>
            <div class="election-id">
            	<!-- <b>Election Identifier:</b> <%= manifest.shortHash %> -->
                <b>Election ID:</b> <%= printableElID %>
            </div>
        </div>
    </div>
    <div class="body">

    <!-- ************************ HEADER **************************************** -->

    <div class="description">
        <b> Description </b><br>
        <span class="descriptionBB">
        <%= manifest.descriptionBB || manifest.description %>
        </span>
    </div>
