<% include header %>
    <div class="menu-content">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <ul>
            <% if (!ready) { %>
                <li class="pure-menu-selected"><a href="summary">Summary</a></li>
                <li class="pure-menu-disabled"><a href="#">Verification Codes</a></li>
                <% if (manifest.publishListOfVoters) { %>
                    <li class="pure-menu-disabled"><a href="#">List of Voters</a></li>   
                <% } %>
                <li><a href="details">Additional Details</a></li>
            <% } else { %>
                <li class="pure-menu-selected"><a href="summary">Summary</a></li>
                <li><a href="votes">Verification Codes</a></li>
                <% if (manifest.publishListOfVoters) { %>
                    <li><a href="voters">List of Voters</a></li>
                <% } %>
                <li><a href="details">Additional Details</a></li>
            <% }  %>
            </ul>
        </div>
        <div class="content">
        <% if (!ready) { %>
            <h2>
                The result is not ready yet.
            </h2>
            <h3>
                The election should be closed at: <%= closingTime %>.
            </h3>
        <% } else { %>

            <h2>
                Result of the election
            </h2>
            
            <table class="pure-table pure-table-horizontal">
                <thead>
                    <tr>
                        <th>Choice</th>
                        <th>Number of votes </th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<summary.length; i++) { %>
                       <tr>
                           <td> <%= summary[i].choice %> </td>
                           <td> <%= summary[i].votes %> </td>
                       </tr>
                    <% } %>
                </tbody>
            </table>

            <div class="pure-g extrainfobox">
                <div class="pure-u-1 pure-u-md-1-1">
                    <div class="extrainfo">
                        If you have your verification code and want to check
                        that your vote has been counted, go to the list of
                        verification codes and find the vote with your code.
                        <p>
                            <a class="pure-button pure-button-primary" href="votes">Go to Verification Codes</a>
                        </p>
                    </div>
                </div>
<!--                 
				<div class="pure-u-1 pure-u-md-1-2">
                    <div class="extrainfo">
                        If you want to check who have voted, you can
                        <p>
                            <a class="pure-button pure-button-primary" href="voters">Go to the List of Voters</a>
                        </p>
                        (If you have not voted, your identifier should not be listed there.)
                    </div>
                </div> 
-->
            </div>

        <% }  %>
        </div>
    </div>
<% include footer %>
