<% include header %>
    <div class="menu-content">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <ul>
            <% if (!ready) { %>
                <li><a href="summary">Summary</a></li>
                <li class="pure-menu-disabled"><a href="votes">Verification Codes</a></li>
                <li class="pure-menu-selected"><a href="voters">List of Voters</a></li>
                <li><a href="details">Additional Details</a></li>
            <% } else { %>
                <li><a href="summary">Summary</a></li>
                <li><a href="votes">Verification Codes</a></li>
                <li class="pure-menu-selected"><a href="voters">List of Voters</a></li>
                <li><a href="details">Additional Details</a></li>
            <% }  %>
            </ul>
        </div>
        <div class="content">
        <% if (!ready) { %>

            <h2>
                The result is not ready yet.
            </h2>
            <h3>
                The election should be closed at: <%= closingTime %>.
            </h3>

        <% } else if (!partialResultReady) { %>

            <h2 class='error'> Partial results not available </h2>

        <% } else { %>

            <h2>
                Voters who have successfully cast their ballots
            </h2>

            <table class="pure-table pure-table-horizontal">
                <tbody>
                    <% for(var i=0; i<voters.length; i++) { %>
                       <tr>
                           <td class="voters"> <%= voters[i] %> </td>
                       </tr>
                    <% } %>
                </tbody>
            </table>

        <% }  %>

        </div>
    </div>
<% include footer %>
